@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #6C6E70;
}

/* document */

*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

figure img {
  width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

/* header */

.header {
  border-bottom: 2px solid #BEBEBE;
  margin: 0 auto;
}

.logo {
  padding: 10px 25px 25px 25px;
  display: inline-block;
  /*vertical-align: top;*/
}

nav {
  padding: 10px 0 25px 0;
  display: inline-block;
}

nav li {
  padding: 5px;
  border-left: 1px solid #BEBEBE;
  display: inline-block;
}

nav li:nth-last-child(2) {
  border-left: none;
}

nav li a{
  padding: 6px;
  color: #6C6E70;
}

nav li a:hover {
  color: #1797F9;
}

nav .active {
  color: #1797F9;
}

#check{
  display: none;
}

#cross{
  display: none;
}

.checkbtn{
  padding: 5px;
  display: none;
  float: right;
  position: relative;
  color: #6C6E70;
  cursor: pointer;
  font-size: 30px;
  user-select: none;
}

.check:checked ~ .checkbtn #cross{
  display: block;
  position: fixed;
  right: 5px;
}
.check:checked ~ .checkbtn #bars{
  display: none;
}

/* residences */

.para {
  width: 50%;
  padding: 100px;
  display: inline-block;
}

.para h2 {
  padding-bottom: 25px;
  color: #000;
  font-size: 40px;
}

.para p {
  padding-bottom: 25px;
  line-height: 25px;
}

.banner_image {
  width: calc(50% - 5px);
  display: inline-block;
  vertical-align: top;
}

.residences {
  border-bottom: 1px solid #BEBEBE;
  margin: 0 auto;
}

/* floorplans */

.head {
  padding: 50px;
}

.head h2 {
  color: #000;
  font-size: 40px;
}

.head p {
  padding: 20px 0;
  line-height: 25px;
}

.g-links {
  padding: 20px 0 20px 75px;
}

.g-links li {
  padding: 0 15px;
  display: inline-block;
}

.g-links a {
  padding: 5px;
  color: #6C6E70;
  cursor: pointer;
  font-size: 20px;
}

.g-links a:hover {
  color: #1797F9;
}

.g-links .active {
  color: #1797F9;
}

.g-img {
  padding: 5px 40px;
}

.g-img img{
  /*width: 100%;*/
}

.slide-section {
  padding: 25px;
  background-color: #7E7E7E;
}

.mySlides span {
  padding: 40px;
  position: absolute;
  color: #fff;
  font-size: 18px;
}
.myvSlides span {
  padding: 40px;
  margin-left: 40px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  color: #fff;
  font-size: 18px;
}

.previous {
  cursor: pointer;
}

.next {
  float: right;
  cursor: pointer;
}

.dots {
  cursor: pointer;
}

.mySlides {
  display: none;
}
.myvSlides {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* video-slides */

.video-slides {
  position: relative;
}

.video-slides h3{
  padding: 110px 155px 60px 155px;
  display: inline-block;
  font-size: 40px;
  font-style: italic;
}

.video-slides ul img {
  width: 100%;
}

.video-slides .vs {
  max-width: 1400px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  opacity: 0.8;
}

/* footer */

footer {
  padding: 80px 0 60px 0;
  background-color: #EEEEEE;
}

.col-1, .col-2, .col-3 {
  width: 220px;
  margin: 0 65px;
  display: inline-block;
}

.col-3 {
  vertical-align: top;
}

.info {
  padding: 20px 0;
}

.info a{
  color: #6C6E70;
  font-size: 13px;
}

.info a:hover {
  color: #1797F9;
}

.info .active {
  color: #1797F9;
}

.info h4 {
  padding-bottom: 20px;
  color: #000;
  font-size: 18px;
}

.foot {
  padding: 0 112px;
}

.links li {
  display: inline-block;
}

.links ul li:first-child {
  padding-right: 10px;
}

.links li + li {
  padding: 0 10px;
}

/* media queries */

@media only screen and (max-width: 1280px) {
  nav a {
    padding: 10px;
    font-size: 10px;
  }

  nav li {
    padding: 0 5px;
  }

  .col-1, .col-2, .col-3 {
    margin: 0 60px;
  }
}

@media only screen and (max-width: 995px) {
  nav {
    width: 100%;
    display: none;
    position: fixed;
    top: 0px;
    left: 0;
    background-color: #363636;
    text-align: center;
  }

  nav li{
    padding: 10px 0;
    display: block;
  }

  nav a{
    display: inline-block;
  }

  .checkbtn{
    /*margin-top: -80px;*/
    display: inline-block;
    float: right;
    z-index: 1;
  }

  .check:checked ~ nav{
    max-height: 80vh;
    display: block !important;
    transition: max-height .2s ease-out;
  }

  .check:checked ~ nav li{
    display: block;
  }

  .check:checked ~ nav a{
    display: block;
  }

  .para {
    width: 100%;
  }

  .banner_image {
    /*width: 100%;*/
    margin: 0 auto;
    display: block;
  }

  .video-slides h3 {
    font-size: 28px;
  }

  .col-1, .col-2, .col-3 {
    width: 100%;
    margin: 0 0px;
    text-align: center;
  }

  .info a {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .banner_image {
    width: 100%;
  }

  .info h4 {
    font-size: 28px;
  }

  .info a {
    font-size: 18px;
  }

  .g-links {
    padding: 20px 35px;
  }

  .video-slides h3 {
    padding: 50px;
    font-size: 24px;
  }
}

@media only screen and (max-width: 540px) {
  .para {
    padding: 50px;
  }

  .head {
    padding: 50px 60px 0;
  }

  .video-slides h3 {
    padding: 40px 28px;
    font-size: 20px;
  }

  .mySlides span {
    padding: 25px;
  }

  .myvSlides span {
    padding: 25px;
  }

  .slide-section {
    padding: 10px;
  }
}