@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* document */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 1200px;
  width: 92.13%;
  margin: 0 auto;
}


/* header */


header {
  padding: 25px 0;
}

/*logo*/
.logo {
  display: inline-block;
}

.logo h1 {
  font-size: 32px;
}

.logo a {
  color: #363636;
}

/*nav*/
nav {
  padding: 10px;
  display: inline-block;
  float: right;
}

nav li {
  display: inline-block;
}

nav a {
  padding: 10px 15px;
  color: #363636;
  font-size: 22px;
}

.active, nav a:hover {
  background-color: #16A086;
  color: #fff;
}


/* banner */


.banner img {
  width: 100%;
  height: auto;
}


/* portfolio */


.portfolio {
  padding: 55px 0;
  text-align: center;
}

/*head*/
.head h2 {
  font-size: 32px;
}

.head p {
  padding: 10px 0;
  font-size: 18px;
}

/*links*/
.links {
  margin: 40px 0;
  /*text-align: center;*/
}

.links li {
  display: inline-block;
}

.links a {
  padding: 10px 15px;
  background-color: #16A086;
  color: #fff;
  font-size: 18px;
}

.links a:hover {
  background-color: #128e8e;
}

/*icons*/
.icons li {
  padding: 15px 30px;
  display: inline-block;
}

.icon-img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
}

.icon-block {
  position: relative;
}

/*hover*/
.hover {
  display: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
}

.hover h3 {
  color: #fff;
  font-size: 18px;
}

.hover p {
  color: #fff;
  font-size: 16px;
}

.hover img {
  border-radius: 50%;
  background: transparent;
}

.camera a:hover .icon-fig{
  background: #16a086;
}


/* about */


.about {
  padding: 55px 0;
  background-color: #16A086;
  text-align: center;
}

/*head*/
.head1 h2 {
  color: #fff;
  font-size: 32px;
}

.head1 p {
  padding: 10px 0;
  color: #fff;
  font-size: 18px;
}

/*card*/
.card {
  width: 21.76%;
  margin: 50px 60px;
  display: inline-block;
  background-color: #fff;
}

.pic-img {
  width: 100%;
}

.social {
  display: none;
}

.content {
  padding: 10px;
}

.text-head {
  padding: 20px 0;
}

.text-head h3 {
  font-size: 22px;
}

.text-head p {
  font-size: 16px;
  font-style: italic;
}

.para {
  line-height: 20px;
  text-align: left;
}


/* contact */


.contact {
  padding: 55px 0;
  background-color: #eee;
}

.contact .head {
  padding-bottom: 50px;
  text-align: center;
}

.form {
  width: 50%;
  display: inline-block;
}

.info {
  width: calc(50% - 5px);
  display: inline-block;
  vertical-align: top;
}

.info h3 {
  padding-bottom: 20px;
  font-size: 20px;
}

.add, .phone, .fax, .mail {
  width: 40%;
  padding: 15px 0;
}

.add i, .phone i, .fax i, .mail i {
  display: inline-block;
}


/*input div*/
.fn, .ln, .mob, .em {
  width: 42.6%;
  height: 48px;
  display: inline-block;
}

.fn, .mob {
  margin: 0 30px 30px 0;
}

.ln, .em {
  margin-bottom: 30px;
}

.msgdiv {
  display: block;
}

/*error span*/
#fname, #lname, #mobile, #email, #msg {
  display: block;
  color: red;
}

input, textarea {
  padding: 5px;
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 20px;
}

textarea {
  width: 91%;
  height: 150px;
  margin-bottom: 30px;
  display: block;
}

.submitbtn {
  padding: 10px 15px;
  border: none;
  margin-right: 55px;
  display: block;
  float: right;
  background-color: #16A086;
  color: #fff;
  font-size: 18px;
}

.submitbtn:hover {
  background-color: #128e8e;
}
